.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel-btn {
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  box-sizing: border-box;
  margin-left: 0.5rem;
}

.carousel-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.next {
  right: 0%;
  margin-right: 0.5rem;
  margin-left: 0rem !important;

}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 2rem 0.6rem;
  background-color: #dbd9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.7s ease;
}

.dot:hover {
  background-color: #717171;
}

.slides-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
}

.slide img{
    width: 100%;
    display: block;
}

.mySlides img {
  width: 100%;
}
