
.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5); 
    color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    justify-content: flex-end; 
   
  }
  


.cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    background-color: rgb(32, 32, 32);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    animation: slide 0.6s forwards;
    
  }
  

  @keyframes slide {
    0% {
      transform: translateX(100%);
      
    }

    50%{
        transform: translateX(-5%);
       
    }
    100% {
      transform: translateX(0);
      
    }
  }
  
  .cart-header {
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .cart-items {
    flex: 1;
   
    padding: 1rem;
    overflow-y: auto;
  }
  .cart-items::-webkit-scrollbar {
    display: none;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    flex-direction: column;

    background-color: rgb(53, 52, 52,0.5);
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    padding-top: 0.5rem;
  }

  .remove-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem;
    padding-top: 0.2rem;
    padding-right: 1rem;
    
  }

  .remove-btn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:#9b9a9a;
    background-color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    box-sizing: border-box;
    
  }

  .remove-btn button:hover{
    background-color: #414141;
  }

  .cart-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  
  .cart-item img {
    /* padding: 0.5rem 0.2em; */
    background-color: rgba(98, 96, 96, 0.5);
    border-radius: 0.5rem;
    width: 110px;
    min-width: 10px;

    height: 120px;
    object-fit:fill;
    margin-right: 1rem;
  }

  .cart-item-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 1.5rem;
    width: 70%;
  }
  
  .cart-item-info h4 {
    margin: 0;
    font-size: 1rem;
    
  }
  
  .cart-item-info p {
    margin: 0;
    font-size: 1.1rem;
    color: #555;
    text-align: end;
    display: -webkit-box;           /* Creates a flexible box (required for line clamping) */
    -webkit-box-orient: vertical;   /* Specifies the box orientation */
    -webkit-line-clamp: 1; 
    overflow: hidden;  
  }
  
  .cart-total {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
  }


  #clear-btn {
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    padding: 1rem;
    color: rgb(153,153,153);
    cursor: pointer;
  }
  
  .item-count{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;

  }

  .item-count button{
    background-color: rgb(157, 153, 153);
    border: none;
  
    font-size: 1rem;
    padding: 0.1rem 0.5rem;

    cursor: pointer;
  }

  .item-count input{
    width: 20%;
    border: none;
    max-width: 20px;
  text-align: center;
    outline: none;
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
    background-color: #ebebeb;
  }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}