
.header{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header h2 {
    margin: 0;
  }


.right-item{
    position: absolute;
    right: 3%;
    cursor: pointer;
}