body {
  margin: 0;
  height: 100vh;
}

body {
  font-family: Helvetica, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.layout-body {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex: 1;
  box-sizing: border-box;
  gap: 1rem;
}

.main-content {
  flex: 1; /* takes up remaining space */
  padding: 1rem;
  box-sizing: border-box;
  min-width: 0; /* allow the item to shrink */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar {
  width: 260px;
  background-color: rgb(0, 0, 0);
  max-height: 85vh;
  position: sticky;
  top: 5rem;
  margin-left: 1rem;
  border-radius: 2rem;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.sidebar img {
  width: auto;
  height: 200px;
}

.sidebar ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.categories-section {
  color: white;
}

.accordion-content {
  margin-top: 1rem;
  padding-left: 3rem;
  text-align: start;
}
.custom-link {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.1rem 2rem;
}

.icon-sidebar {
  background-color: rgb(63, 62, 62);
  border-radius: 0.4rem;
  padding: 0.7rem;
  transition: background-color 0.2s ease-in-out;
}

.icon-sidebar path {
  fill: white;
  transition: fill 0.2s ease-in-out;
  opacity: 1;
}

/* Change the icon when the parent link is hovered */
.custom-link:hover .icon-sidebar {
  background-color: white;
}

.custom-link:hover .icon-sidebar path {
  fill: black;
}

.header {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}

.search-icon{
  cursor: pointer;
}

.header h2 {
  margin: 0;
}
